<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pricing Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../output.css">
  <script src="https://kit.fontawesome.com/7e09908c25.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>


</head>

<body class="m-0 p-0 font-lato font-[400]">
  <!-- Nav bar -->
  <nav class="fixed w-full z-10 transition duration-500 ease-in-out py-1.5 text-[white]" id="navbar">
    <div class="flex flex-wrap items-center justify-between mx-auto p-0 w-[90%]">

      <img id="myImage" src="../assets/Insure/2-removebg-preview.png" class="w-24 h-16" />




      <button id="navbar-toggle" data-collapse-toggle="navbar-dropdown" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-[--Orange4] dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto bg-[#ffa074] lg:bg-transparent text-lg" id="navbar-dropdown">
        <div>
          <ul
            class="flex flex-col lg:items-center font-medium p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 md:mr-0 lg:mr-22">
            <li>
              <a href="../index.html"
                class="link block py-2 pl-3 pr-4 rounded hover:bg-[ --Blue2] text-base md:hover:bg-transparent md:border-0 md:hover:text-[--Orange4] md:p-0 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                aria-current="page">Home</a>
            </li>
            <li>
              <a href="../about.html"
                class="link block py-2 pl-3 pr-4 rounded hover:bg-[ --Blue2] text-base md:hover:bg-transparent md:border-0 md:hover:text-[--Orange4] md:p-0 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
            </li>
            <li>
              <a href="../index.html#contact"
                class="link block py-2 pl-3 pr-4 rounded hover:bg-[ --Blue2] text-base md:hover:bg-transparent md:border-0 md:hover:text-[--Orange4] md:p-0  md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
            </li>
            <li>
              <a href="./pricing.html"
                class="link block py-2 pl-3 pr-4 rounded hover:bg-[ --Blue2] text-base md:hover:bg-transparent md:border-0 md:hover:text-[--Orange4] md:p-0  md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
            </li>
            <li>
              <a href="#"
                class="link block py-2 pl-3 pr-4 rounded hover:bg-[ --Blue2] text-base md:hover:bg-transparent md:border-0 md:hover:text-[--Orange4] md:p-0 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Features</a>
            </li>

            <div class="flex flex-wrap md:flex-col lg:flex-row pl-0 lg:pl-32">
              <a href="../login.html"
                class="bg-[--White0] border border-[--Orange1] text-[--Orange1] font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2 hover:bg-[--Orange2] hover:text-[--White0]">
                Log-In
              </a>
              <a href="../register.html"
                class="bg-[--Orange1] text-white font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2 hover:bg-[--Orange2] hover:text-[--White0]">
                Get Started
              </a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 shadow-md font-Lato">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-0">
      <img src="../assets/Insure/INsure Logo.png" class="h-20 mr-2" alt="Logo" />

      <button id="navbar-toggle" data-collapse-toggle="navbar-dropdown" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-[--Orange2] dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul
          class="flex flex-col lg:items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="../index.html"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-[--Orange2] md:hover:bg-transparent md:border-0 md:hover:text-[--Orange2] md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
              aria-current="page">Home</a>
          </li>
          <li>
            <a href="../about.html"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-[--Orange2] md:hover:bg-transparent md:border-0 md:hover:text-[--Orange2] md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </li>
          <li>
            <a href="../index.html#contact"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-[--Orange2] md:hover:bg-transparent md:border-0 md:hover:text-[--Orange2] md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li>
          <li>
            <a href="./pricing.html"
              class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-[--Orange2] md:hover:bg-transparent md:border-0 md:hover:text-[--Orange2] md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
          </li>
          <li>
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
              class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-[--Orange2] md:hover:bg-transparent md:border-0 md:hover:text-[--Orange2] md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
              Features
              <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4" />
              </svg>
            </button> -->
  <!-- Dropdown menu -->
  <!-- <div id="dropdownNavbar"
              class="absolute z-10 hidden font-normal bg-white divide-y divide-[--Orange2] rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-[--Orange2] dark:hover:bg-gray-600 dark:hover:text-white">feature1</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 hover:bg-[--Orange2] dark:hover:bg-gray-600 dark:hover:text-white">feature2</a>
                </li>
              </ul>
            </div>
          </li>

          <div class="flex flex-wrap md:flex-col lg:flex-row ">
            <a href="../login.html"
              class="bg-[--White0] border border-[--Orange1] text-[--Orange1] font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2">
              Log-In
            </a>
            <a href="../register.html"
              class="bg-[--Orange1] text-white font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2">
              Get Started
            </a>
          </div>
        </ul>
      </div>
    </div>
  </nav> -->



  <section class="object-center h-[85vh] max-w-full bg-[#433A3A] flex flex-col w-full bg-cover bg-blend-overlay h-100"
    style="background-image: url('../assets/pricing/pricingHero.png');">

    <!-- Section 1: Introduction -->
    <section class="m-auto text-white">
      <p class="text-3xl font-semibold">
        Pick a plan that is right for your team to grow your brand. <br><br>
        Pay monthly or annually, and cancel at any time.
      </p>
      <!-- </div>
        </div> -->
    </section>
  </section>

  <!-- Section 2: Pricing Boxes  -->
  <section class="bg-white text-black py-8 font-lato md:flex flex flex-wrap ">
    <div class="container mx-auto flex space-x-4 w-full md: 1/3">
      <!-- Box 1 -->
      <div class="w-full md:w-1/3 bg-blue-200 p-6 shadow-md mb- md:mb-0">
        <div class="h-1/5 bg-orange-400 text-white text-center p-">
          <p class="font-bold pt-5">Standard</p>
          <p class="font-regular">For Business Just Getting Started</p>
        </div>

        <div class="h-5/8 ">
          <p class="pb-4 pt-4">NGN... per agent/month when billed annually</p>
          <p>all the benefits of trial and:</p>
          <ul class="list-disc ml-6 mt-2">
            <i class="fas fa-check text-blue-600 pb-4 pt-6"></i>
            Unlimited access to Customer Relationship Management<br>
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Unlimited access Sales Management <br>
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Unlimited access to Lead and opportunity tracking <br> <br>
            <!-- <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            50 Agents registration access with all benefits</li>  -->
          </ul>
          <div class="flex items-center justify-center mt-4">
            <button class="bg-blue-500 text-white px-16 py-2 absolute mt-8 mb-14 rounded hover:bg-blue-600">
              Upgrade
            </button>
          </div>
        </div>
      </div>

      <!-- Box 2 -->
      <div class="w-full md:w-1/3 bg-blue-200 p-6 shadow-md mb-4 md:mb-0">
        <div class="h-1/5 bg-orange-400 text-white text-center p-2">
          <p class="font-bold pt-4">Pro</p>
          <p class="font-regular">For Business Investing In Marketing With INsure</p>
        </div>
        <div class="h-5/8">
          <p class="pb-4 pt-4 ">NGN... per agent/month when billed annually</p>
          <p>all the benefits of Standard and:</p>
          <ul class="list-disc ml-6 mt-2 ">
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            99.99% guaranteed uptime</li><br>
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Add your own branding to the admin and agent dashboard</li><br>
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            200 Agents registration access with all benefits</li><br> <br>
            <!-- <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Free access to INsure is highly customizable profile</li> -->
          </ul>
          <div class="flex items-center justify-center mt-4">
            <button class="bg-blue-500 text-white  px-16 py-2 absolute mt-12 mb-14 rounded hover:bg-blue-600">
              Upgrade
            </button>
          </div>
        </div>
      </div>

      <!-- Box 3 -->
      <div class="w-full md:w-1/3 bg-blue-200 p-6 shadow-md mb-4 md:mb-0">
        <div class="h-1/5 bg-orange-400 text-white text-center p-2">
          <p class="font-bold pt-4">Advanced</p>
          <p class="font-regular">For Business Looking To Build A Lasting Brand</p>
        </div><br>
        <div class="h-5/8 ">
          <p class="">Contact Sales for Price Estimate</p>
          <ul class="list-disc ml-6 mt-2">
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Unlimited work spaces</li><br>
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Support for data loss prevention (DLP), e-discovery and offline backup providers</li><br>
            <!-- <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            Unlimited Agents registration access with all benefits</li><br> -->
            <i class="fas fa-check text-blue-600 pb-4 pt-4"></i>
            HIPAA-compliant message and file collaboration</li><br> <br>
          </ul>
          <div class="flex items-center justify-center mt-4">
            <button class="bg-blue-500 text-white px-16 py-2 absolute mt-20 mb-5 rounded hover:bg-blue-600">
              Contact
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- Section 3: Compare Features -->
  <section class="bg-blue-200 text-black py-8 font-lato">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold">Compare features across subscriptions</h2>
      <div class="flex justify-between mt-8 space-x-4">
        <!-- Box 1 -->
        <div class="w-1/5 bg-transparent p-6 rounded-lg max-md: ">
          <h3 class="text-xl font-bold mb-4">Productivity and Collaboration</h3>
          <ul>
            <li class="mt-5">Messaging</li>
            <li class="mt-6">Customizable Section</li>
            <li class="mt-6">Issue User Account</li>
            <li class="text-xl font-bold mb-4 mt-4">Security</li>
            <li>Two-Factor Authentication</li>
            <li class="mt-6">Data Encryption</li>
            <li class="mt-6"> Enterprise Management</li>
            <li class="mt-6"> Mobility Management</li>
            <li class="text-xl font-bold mb-4 mt-4">Compliance</li>
            <li>Data Rention</li>
            <li class="mt-6">Messages Export</li>
            <li class="mt-6"> HIPAA Compliance</li>
            <li class="text-xl font-bold mb-4 mt-4">Administration</li>
            <li>Workspaces</li>
            <li class="mt-6">Custom User Groups</li>
            <li class="mt-6">Custom Terms Of Service</li>
            <li class="mt-6">Integrated Security Solutions, Data Loss Prevention(DLP),
              Offline Backup Providers
            </li>
            <li class="text-xl font-bold mb-4 mt-4">Support</li>
            <li>Access To Customer Support</li>
            <li class=" mt-6">99.99% Guaranteed Uptime SLA Not Included</li>
          </ul>


        </div>

        <!-- Box 2 -->
        <div class="w-1/5 bg-transparent p-6 rounded-lg">
          <h3 class="text-xl font-bold mb-6">Trial</h3><br>
          <ul>
            <li>7-days Access</li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li> <br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-6"><i class="fa-solid fa-circle-xmark text-red-500 mt-4"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-8"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-2"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-8">1</i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <!-- <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br> -->
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-1"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-28">Standard Support</li>
            <li class="mt-12"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
          </ul>
          <button class="bg-blue-500 text-white px-16 py-2 rounded hover:bg-blue-600">
            Upgrade
          </button>

        </div>

        <!-- Box 3 -->
        <div class="w-1/5 bg-transparent p-6 rounded-lg">
          <h3 class="text-xl font-bold mb-6">Standard</h3><br>
          <ul>

            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-8"><i class="fa-solid fa-circle-check text-blue-600"></i></li>
            <li class="mt-8"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-6"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-2"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-9">1</i></li><br>
            <li class="mt-1"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-28">24/7 Support</li><br>
            <li class="mt-6"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>

          </ul>
          <button class="bg-blue-500 text-white px-16 py-2 mt-18 rounded hover:bg-blue-600">
            Upgrade
          </button>
        </div>

        <!-- Box 4 -->
        <div class="w-1/5 bg-transparent p-6 rounded-lg">
          <h3 class="text-xl font-bold mb-12">Pro</h3>
          <ul>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-8"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-3"><i class="fa-solid fa-circle-check text-blue-600"></i></li>
            <li class="mt-5"><i class="fa-solid fa-circle-check text-blue-600"></i></li>
            <li class="mt-6"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-6"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-11">1</i></li><br>
            <li class="mt-1"><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li><i class="fa-solid fa-circle-xmark text-red-500"></i></li><br>
            <li class="mt-28">24/7 support with first-hour first response time</li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
          </ul>
          <button class="bg-blue-500 text-white px-16 py-2 mt-18 rounded hover:bg-blue-600">
            Upgrade
          </button>
        </div>

        <!-- Box 5 -->
        <div class="w-1/5 bg-transparent p-6 rounded-lg">
          <h3 class="text-xl font-bold mb-6">Advanced</h3><br>
          <ul>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-8"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-3"><i class="fa-solid fa-circle-check text-blue-600"></i></li>
            <li class="mt-5">Add-On</li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-6"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li>
            <li class="mt-6"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-10">Unlimted</i></li><br>
            <li class="mt-"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-2"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-"><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
            <li class="mt-28">24/7 support with four-hour first response time</li><br>
            <li><i class="fa-solid fa-circle-check text-blue-600"></i></li><br>
          </ul>
          <button class="bg-blue-500 text-white px-16 py-2 pl-20 pr-18 mt-18 rounded hover:bg-blue-600">
            Sales
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="bg-[--White0] w-full font-Lato m-auto flex flex-wrap justify-center items-center">
      <!-- upper footer -->
      <div
        class="bg-[--Orange5] w-full rounded-b-[50px] flex flex-wrap flex-col justify-center items-center text-center py-16">
        <!-- text div -->
        <div class="pb-3">
          <h2 class="text-[30px] font-semibold">
            Welcome to your new digital HQ
          </h2>
        </div>
        <!-- button div -->
        <div>
          <!-- first button -->
          <button class="bg-[--White0] text-black font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2">
            7-DAY FREE TRIAL
          </button>
          <!-- second button -->
          <!-- first button -->
          <button class="bg-slate-800 text-white font-bold py-3 px-8 rounded-[10px] text-bold text-sm m-2">
            TALK TO SALES
          </button>
        </div>
      </div>

      <!-- lower footer -->

      <div
        class="max-w-[90%] m-auto grid lg:grid-cols-5 md:grid-cols-2 sm:grid-cols-1 lg:gap-36 mt-10 md:gap-x-20 md:gap-y-4 sm:gap-12 sm:items-center sm:justify-center">
        <!-- logo grid -->
        <div class="max-w-[230px] pb-10">
          <img src="../assets/Insure/INsure Logo.png" alt="logo" />

          <!-- icons socials -->
          <div class="flex py-4 justify-center lg:justify-start">
            <ul class="flex">
              <li>
                <a href="" target="_blank"
                  class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer">
                  <i class="fa fa-twitter" style="color: #e76927"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank"
                  class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer">
                  <i class="fa fa-instagram" style="color: #e76927"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank"
                  class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer">
                  <i class="fa fa-facebook-square" style="color: #e76927" aria-hidden="true"></i>
                </a>
              </li>

              <li>
                <a href="" target="_blank"
                  class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer">
                  <i class="fa fa-youtube-play" style="color: #e76927" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- why insure grid -->

        <ul class="max-w-[230px] pb-10">
          <h3 class="py-3 text-[#E76927] font-bold">WHY INSURE?</h3>
          <li class="py-[10px] px-0 text-sm">Technology</li>
          <li class="py-[10px] px-0 text-sm">Productivity</li>
          <li class="py-[10px] px-0 text-sm">Onboarding</li>
        </ul>

        <!-- product grid -->

        <ul class="max-w-[230px] pb-10">
          <h3 class="py-3 text-[#E76927] font-bold">PRODUCT</h3>
          <li class="py-[10px] px-0 text-sm">Dashboard</li>
          <li class="py-[10px] px-0 text-sm">Dashboard</li>
          <li class="py-[10px] px-0 text-sm">On the go Mobility</li>
        </ul>

        <!-- price grid -->

        <ul class="max-w-[230px] pb-10">
          <h3 class="py-3 text-[#E76927] font-bold">PRICING</h3>
          <li class="py-[10px] px-0 text-sm">Paid</li>
          <li class="py-[10px] px-0 text-sm">Paid</li>
          <li class="py-[10px] px-0 text-sm">7-Day Free Trial</li>
        </ul>

        <!-- company grid -->

        <ul class="max-w-[230px] pb-10">
          <h3 class="py-3 text-[#E76927] font-bold">COMPANY</h3>
          <li class="py-[10px] px-0 text-sm">About Us</li>
          <li class="py-[10px] px-0 text-sm">Notification</li>
          <li class="py-[10px] px-0 text-sm">Customer Support</li>
        </ul>
      </div>

      <p className=" text-[#B3B3B3] text-sm mx-8">
        © 2022. All Right Reserved, INsure Technologies. A Salesforce Company.
      </p>
    </div>
  </footer>
  <script src="../script.js"></script>
</body>

</html