<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="output.css" />
    <script src="https://kit.fontawesome.com/7e09908c25.js"></script>
  </head>
  <body>
    <footer>
      <div
        class="bg-[--White0] w-full font-Lato m-auto flex flex-wrap justify-center items-center"
      >
        <!-- upper footer -->
        <div
          class="bg-[--Orange5] w-full rounded-b-[50px] flex flex-wrap flex-col justify-center items-center text-center py-16"
        >
          <!-- text div -->
          <div class="pb-3">
            <h2 class="text-[30px] font-semibold">
              Welcome to your new digital HQ
            </h2>
          </div>
          <!-- button div -->
          <div>
            <!-- first button -->
            <button
              class="bg-[--White0] text-slate-800 hover:text-white hover:bg-slate-800 font-bold py-3 px-6 rounded-[8px] text-bold text-sm m-2"
            >
              7DAY TRIAL
            </button>
            <!-- second button -->
            <!-- first button -->
            <button
              class="bg-slate-800 text-white hover:bg-[--White0] hover:text-black font-bold py-3 px-8 rounded-[10px] text-bold text-sm m-2"
            >
              TALK TO SALES
            </button>
          </div>
        </div>

        <!-- lower footer -->

        <div
          class="max-w-[90%] text-black m-auto grid lg:grid-cols-5 md:grid-cols-2 sm:grid-cols-1 lg:gap-36 mt-10 md:gap-x-20 md:gap-y-4 sm:gap-12 sm:items-center sm:justify-center"
        >
          <!-- logo grid -->
          <div class="max-w-[230px] pb-10">
            <img src="./assets/Insure/1.png" alt="logo" />

            <!-- icons socials -->
            <div
              class="flex py-4 justify-center lg:justify-start text-[ #e76927]"
            >
              <ul class="flex">
                <li>
                  <a
                    href=""
                    target="_blank"
                    class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer"
                  >
                    <i class="fa fa-twitter" style="color: #e76927"></i>
                  </a>
                </li>

                <li>
                  <a
                    href=""
                    target="_blank"
                    class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer"
                  >
                    <i class="fa fa-instagram" style="color: #e76927"></i>
                  </a>
                </li>

                <li>
                  <a
                    href=""
                    target="_blank"
                    class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer"
                  >
                    <i
                      class="fa fa-facebook-square"
                      style="color: #e76927"
                      aria-hidden="true"
                    ></i>
                  </a>
                </li>

                <li>
                  <a
                    href=""
                    target="_blank"
                    class="h-10 w-10 rounded-full hover:bg-[##c0c0c0] flex items-center justify-center cursor-pointer"
                  >
                    <i
                      class="fa fa-youtube-play"
                      style="color: #e76927"
                      aria-hidden="true"
                    ></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- why insure grid -->

          <ul class="pb-10">
            <h3 class="py-3 text-[#E76927] font-semibold text-sm">
              WHY INSURE?
            </h3>
            <li class="py-[10px] px-0 text-xs">Technology</li>
            <li class="py-[10px] px-0 text-xs">Productivity</li>
            <li class="py-[10px] px-0 text-xs">Onboarding</li>
          </ul>

          <!-- product grid -->

          <ul class="pb-10 lg:-mt-8 md:mt-0 text-sm">
            <h3 class="py-3 text-[#E76927] font-semibold">PRODUCT</h3>
            <li class="py-[10px] px-0 text-xs">Dashboard</li>
            <li class="py-[10px] px-0 text-xs">On the go Mobility</li>
          </ul>

          <!-- price grid -->

          <ul class="pb-10 lg:-mt-8 md:mt-0 text-sm">
            <h3 class="py-3 text-[#E76927] font-semibold">PRICING</h3>
            <li class="py-[10px] px-0 text-xs">Paid</li>
            <li class="py-[10px] px-0 text-xs">7Day Trial</li>
          </ul>

          <!-- company grid -->

          <ul class="pb-10">
            <h3 class="py-3 text-[#E76927] font-semibold text-sm">COMPANY</h3>
            <li class="py-[10px] px-0 text-xs">About Us</li>
            <li class="py-[10px] px-0 text-xs">Notification</li>
            <li class="py-[10px] px-0 text-xs">Customer Support</li>
          </ul>
        </div>

        <p className=" text-[#B3B3B3] text-sm mx-8">
          © 2022. All Right Reserved, INsure Technologies. A Salesforce Company.
        </p>
      </div>
    </footer>
  </body>
</html>
