<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration page</title>
    <link rel="stylesheet" href="output.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.0/css/all.css"
    />
   
  </head>
  <body class="bg-gray-100 flex flex-col md:flex-row justify-center items-center h-screen font-Lato">
    <div class="min-h-screen flex rounded-lg  w-full md:w-32  xl:w-full flex-col md:flex-row">
      <div
        class=" rounded-lg  w-full md:w-32  xl:w-full flex flex-col md:flex-row"
      >
      <!-- the image logo -->
        <div class="w-full md:w-1/2 sm:flex-row">
         <a href="index.html"> <img
            src="./assets/Insure/INsure Logo.png"
            alt="INsure logo"
            class="ml-1 mt-1 mb-10 w-20 mr-auto" 
          /> </a>

          <!-- the header section -->
          <div class="mx-2 my-2">
            <h1 class="font-bold mb-4 text-center pt-10 text-4xl">
              Register with <span class="text-red-500"> INsure</span>
            </h1>
            <p class="text-center pb-10">
              Get started - <span class="text-red-500">7</span> day free trial
            </p>
          </div>

          <!-- the form area -->
          <form name="signUpData" onsubmit="signUP(event)" class=" px-50 ">
            <div class="mb-4 flex px-6">
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Company name" required
                class="w-full px-3 py-2 border rounded-md shadow-md shadow-slate-400 mb-5 mr-2"
              />
            </div>
            <div class="mb-4 px-6">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="companyemail@gmail.com" required
                class="w-full px-3 py-2 border rounded-md shadow-md shadow-slate-400 mb-5"
              />
            </div>
            <div class="mt-6 px-6">
              <button
                type="submit"
                class="w-full bg-orange-600 text-white font-bold py-2 px-4 rounded-md hover:bg-orange-400"
              >
                Register
              </button>
              <p class=" text-center md:text-left mt-6">
                By proceeding, you agree to the <br />
                <a href="#"
                  ><span class="text-blue-500 hover:underline">Terms of services</span></a
                >
                and
                <a href="#"
                  ><span class="text-blue-500 hover:underline">privacy policy</span></a
                >
              </p>
              <p class="justify-center  text-center md:text-left mt-10">
                Already have an account?
                <a href="./login.html">
                  <span class="text-red-500 cursor-pointer hover:underline"> Login</span></a
                >
              </p>
            </div>
          </form>
        </div>

        <!-- Right Column (image)  -->
        <div class="md:w-1/2 hidden md:block" style="background-image: url('../template/images/login_img.png');">
          <!-- <img
            src="./assets/user authentication/Multiethnic leaders greeting each other in city.png"
            alt="Registration Image"
            class="w-full lg:w-full h-auto overflow-hidden scroll-m-0 object-cover"
            width="300"
            height="100"
          /> -->
        </div>
      </div>
    </div>
    <script  src="auth.js"></script>
  </body>
</html>
